@{
    ViewBag.Title = "ホーム";
}

<div class="row">
    <div class="col-md-6">
        <h2>404</h2>
        <p>
            ASP.NET エラーを発生させます（ルーティングエラー）<br />
            <a class="btn btn-default" href="@Url.Action("dummy")">
                ASP.NET エラー &raquo;
            </a>
        </p>
        <p>
            IIS エラーを発生させます（ASP.NETではステータスを返すのみなので IIS で処理されます）<br />
            <a class="btn btn-default" href="@Url.Action("ReturnStatus", new {StatusCode = 404})">
                IIS エラー &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-6">
        <h2>500</h2>
        <p>
            ASP.NET エラーを発生させます（モデルバインディングエラー）<br />
            <a class="btn btn-default" href="@Url.Action("ReturnStatus")">
                ASP.NET エラー &raquo;
            </a>
        </p>
        <p>
            IIS エラーを発生させます（ASP.NETではステータスを返すのみなので IIS で処理されます）<br />
            <a class="btn btn-default" href="@Url.Action("ReturnStatus", new {StatusCode = 500})">
                IIS エラー &raquo;
            </a>
        </p>
    </div>
</div>